pre,
.highlight,
.gist {
    background: #0f0f0f;
    margin: 1em 0;
    padding: 1em 2%;
    overflow: auto;
    color: #c5c8c6;
    font-size: 14px;
    text-shadow: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border-style: solid;
    border-color: #2a2a2a;
    border-width: 1px;
    line-height: 20px
}

code {
    background: #1b1b1b;
    border: 0px solid #2a2a2a;
    padding: 0 5px;
    margin: 2 2px;
    font-size: 90%;
    text-shadow: none;
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal
}

.highlight .gutter pre {
    text-align: left;
    padding-right: 20px;
    width: 100%;
    color: #4d4d4d
}

pre,
code {
    font-family: "JetBrains Mono", "Fira Code", "DejaVu Sans Mono", "Noto Sans Mono", Consolas, Monaco, Menlo, monospace
}

pre code {
    background: 0;
    text-shadow: none;
    padding: 0;
    color: #c5c8c6; 
}

.highlight pre {
    border: 0;
    margin: 0;
    padding: 0;
    white-space: pre
}

.highlight table {
    margin: 0;
    width: auto
}

.highlight td {
    border: 0;
    padding: 0
}

.container .gist .gist-file {
    border: 0;
    font-family: "JetBrains Mono", "Fira Code", "DejaVu Sans Mono", "Noto Sans Mono", Consolas, Monaco, Menlo, monospace;
    margin: 0
}

.container .gist .gist-file .gist-data {
    background: 0;
    border: 0
}

.container .gist .gist-file .gist-data .line-numbers {
    background: 0;
    border: 0;
    padding-right: 20px;
    color: #4d4d4d;
    text-align: left
}

.container .gist .gist-file .gist-data .line-data {
    padding: 0 !important
}

.container .gist .gist-file .highlight {
    margin: 0;
    padding: 0;
    border: 0
}

.container .gist .gist-file .gist-meta {
    background: #0f0f0f;
    color: #8c8c8c;
    font: .85em "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: 0;
    padding: 0;
    margin-top: 1em;
    margin-left: 20px
}

.container .gist .gist-file .gist-meta a {
    color: #81a2be;
    font-weight: normal
}

.container .gist .gist-file .gist-meta a:hover {
    text-decoration: underline
}

.highlight figcaption {
    zoom: 1;
    font-size: .85em;
    color: #8c8c8c;
    line-height: 1em;
    margin-bottom: 1em
}

.highlight figcaption:before,
.highlight figcaption:after {
    content: "";
    display: table
}

.highlight figcaption:after {
    clear: both
}

.highlight figcaption a {
    float: right
}

pre .comment{
        color: #707880
    }

pre .title {
    color: #81a2be
}

pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
    color: #8abeb7
}

pre .number{
        color: #de935f
}

pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
    color: #f0c674
}

pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
    color: #b5bd68
}

pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
    color: #b5bd68
}

pre .css .hexcolor {
    color: #6cc
}

pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
    color: #81a2be
}

pre .keyword,
pre .javascript .function {
    color: #8abeb7
}
