<div class="slogan">
<% if (theme.show_slogan) { %>
<% if (theme.show_heart) { %>
		<i class="fa fa-flag blink-slow"></i>
<% } %>
		<%= theme.slogan %>
		<!-- <h3> Latest Posts:</h3> -->
<% } %>
</div>    
